<div id="<%= dom_id(mining_type) %>">
  <p>
    <big><strong>Nome</strong></big>
    <p><%= mining_type.description %></p>
  </p>

  <p>
    <big><strong>Sigla</strong></big>
    <p><%= mining_type.acronym %></p>
  </p>
</div>
